.remove_friend, .respond_request, .cancel_request, .add_friend {
    margin-top: 15px;
    background-color: #02CAC0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}