@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, h3, .header img, a {
  cursor: pointer;
}

.loader-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  background-color: #222E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid white;
  -webkit-animation: loader 3s infinite ease;
          animation: loader 3s infinite ease;
}

.loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  -webkit-animation: loader-inner 1s infinite ease-in;
          animation: loader-inner 1s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.landing-page, .register-page, .login-page, .reset-page, .create-page {
  background-color: white;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
}

.landing-page .illustration {
  background: #fff url("../images/Dzmitry-Kazak-Fireart-Studio.png") left/cover no-repeat;
}

.login-page .illustration {
  background: #fff url("../images/Aliffajar.jpg") left/cover no-repeat;
}

.register-page .illustration {
  background: #fff url("../images/Marat-Vahitov.png") left/cover no-repeat;
}

.reset-page .illustration, .create-page .illustration {
  background: #fff url("../images/Van-Life.jpg") left/cover no-repeat;
}

.register-btn, .reset-btn, .reset_button, .login-btn {
  margin-top: 24px;
  color: white;
  border: none;
  background-color: #02D9CD;
}

.register-btn:hover, .reset-btn:hover, .reset_button:hover, .login-btn:hover {
  -webkit-box-shadow: 4px 4px 20px rgba(2, 217, 205, 0.2);
          box-shadow: 4px 4px 20px rgba(2, 217, 205, 0.2);
  background-color: #02CAC0;
}

.reset-page .sucess, .create-page .sucess {
  color: #5E7CE2;
}

.landing-page .text, .reset-page .text, .create-page .text {
  margin-bottom: 200px;
}

.login-page .text {
  margin-bottom: 100px;
}

.content {
  padding: 60px 100px 20px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content .header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #222E50;
}

.content .header:hover {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
}

.content .text h1 {
  color: #292929;
  font-size: 25px;
}

.content .text .msg {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 16px;
  color: #707070;
}

.content .text button, .content .text input[type=submit] {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.content .text .index-register-btn {
  color: #222E50;
  border: 2px solid #5E7CE2;
  background-color: white;
}

.content .text .index-register-btn:hover {
  -webkit-box-shadow: 4px 4px 20px rgba(86, 154, 194, 0.2);
          box-shadow: 4px 4px 20px rgba(86, 154, 194, 0.2);
  color: #5E7CE2;
}

.content .text form {
  display: -ms-grid;
  display: grid;
}

.content .text form .name {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.content .text .custom-field {
  position: relative;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.content .text .custom-field input {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#02D9CD), to(#02D9CD)) center bottom/0 2px no-repeat, -webkit-gradient(linear, left top, right top, from(#222E50), to(#222E50)) left bottom/100% 2px no-repeat, -webkit-gradient(linear, left top, right top, from(#F1F3F9), to(#F1F3F9)) left bottom/100% no-repeat;
  background: linear-gradient(90deg, #02D9CD, #02D9CD) center bottom/0 2px no-repeat, linear-gradient(90deg, #222E50, #222E50) left bottom/100% 2px no-repeat, linear-gradient(90deg, #F1F3F9, #F1F3F9) left bottom/100% no-repeat;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
}

.content .text .custom-field input:valid, .content .text .custom-field input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

.content .text .custom-field input:valid + .placeholder,
.content .text .custom-field input:focus + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #292929;
  background-size: 100% 2px, 100% 2px, 100%;
}

.content .text .placeholder {
  position: absolute;
  left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #707070;
  -webkit-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.content .text .other {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.content .text .other .remember {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.content .text .other .remember input[type=checkbox] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.content .text .other .remember label {
  font-size: 14px;
}

.content .text .other .forgot-pass a {
  text-decoration: none;
  color: #5E7CE2;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid white;
}

.content .text .other .forgot-pass a:hover {
  color: #3359da;
}

.content .text .option {
  font-size: 14px !important;
}

.content .text .option a {
  color: #5E7CE2;
  font-weight: bold;
}

.content .text .option a:hover {
  color: #3359da;
}

footer {
  font-size: 12px;
  color: #292929;
}

@media screen and (max-width: 800px) {
  .landing-page, .register-page, .login-page, .reset-page, .create-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .landing-page .content, .register-page .content, .login-page .content, .reset-page .content, .create-page .content {
    padding: 60px 200px 20px 100px;
  }
  .landing-page .text, .register-page .text, .login-page .text, .reset-page .text, .create-page .text {
    margin-bottom: 80px;
  }
  .landing-page h1, .register-page h1, .login-page h1, .reset-page h1, .create-page h1 {
    font-size: 20px;
  }
  .landing-page .msg, .register-page .msg, .login-page .msg, .reset-page .msg, .create-page .msg {
    font-size: 14px;
  }
  .landing-page .login-btn, .landing-page .index-register-btn, .register-page .login-btn, .register-page .index-register-btn, .login-page .login-btn, .login-page .index-register-btn, .reset-page .login-btn, .reset-page .index-register-btn, .create-page .login-btn, .create-page .index-register-btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .landing-page, .register-page, .login-page, .reset-page, .create-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .landing-page .content, .register-page .content, .login-page .content, .reset-page .content, .create-page .content {
    padding: 60px 100px 20px;
  }
  .landing-page h4, .register-page h4, .login-page h4, .reset-page h4, .create-page h4 {
    font-size: 20px;
  }
  .landing-page .msg, .register-page .msg, .login-page .msg, .reset-page .msg, .create-page .msg {
    font-size: 14px;
  }
  .other {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .landing-page, .register-page, .login-page, .reset-page, .create-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .landing-page .content, .register-page .content, .login-page .content, .reset-page .content, .create-page .content {
    padding: 60px 70px 20px;
  }
  .other {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */